
<!doctype html>
<html>
  <head>
    {% block head %}
    <title>
    highlight
    </title>
    {% endblock %}
    {% block style %}
    <!--
    <link rel="stylesheet" type="text/css" href="mystyle.css"/>
    -->
    {% endblock %}
    {% block scriptimport %}
    {% endblock %}
  </head>
  <body>
    <div style="border:1px solid black;white-space:pre-wrap">
    {%- for segment in segments -%}
        {%- if segment[0] -%}
            <a style="background:red;">{{segment[1]}}</a>
        {%- else -%}
            {{segment[1]}}
        {%- endif -%}
    {%- endfor -%}    
    </div>
  </body>
</html>
